# Compiled object files
*.o

# Compiled dynamic libraries
*.so

# Compiled static libraries
*.a

# Dependency files created by gcc
*.d

# Executables
bin/
lib/
src/signalfd/signalfd
src/sigtimedwait/sigtimedwait
